<IfModule mod_rewrite.c>
    RewriteEngine On
	
	# Handle downloads...
    RewriteCond %{REQUEST_URI} ^/belbin/www/public/resources/ [NC]
	RewriteCond %{REQUEST_URI} !^/belbin/www/public/resources/$ [NC]
    RewriteRule ^resources/(.*) /belbin/www/public/resources.php?path=resources/$1 [L,QSA]
	
	# Handle jobs...
    RewriteCond %{REQUEST_URI} ^/jobs/ [NC]
	RewriteCond %{REQUEST_URI} !^/jobs/$ [NC]
    RewriteRule ^jobs/(.*) /jobs.php?path=jobs/$1 [L,QSA]
	
    # Handle Front Page...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*) /belbin/www/public/index.php?path=$1 [L]
</IfModule>