:root {
  --dark-bg-color: darkslategray;
  --dark-text-color: white;  
  --light-bg-color: lightseagreen;
  --light-text-color: white;
  --default-bg-color: white;
  --default-text-color: #303030;  
}

body {
  padding-top: 3.5rem;
  background-color: var(--default-bg-color);
  color: var(--default-text-color);
}

nav.navbar,
.btn-dark {
	background-color: var(--dark-bg-color);
	color: var(--dark-text-color);
}

.jumbotron,
.btn-light {
	background-color: var(--light-bg-color);
	color: var(--light-text-color);
}

.jumbotron {
	padding:2rem;
}

.test .item {
	margin:10px;
	display:block;
}

.test .item .glyphicon {
	font-size:150%;
	color:#A5A5A5;
}

.test .item .minus-item .glyphicon:hover {
	color:Red;
}

.test .item .plus-item .glyphicon:hover {
	color:Green;
}

.test .item .item-count {
	min-width:110px;
}

.test .item .item-count .glyphicon {
	position:relative;
	top:4px;
}

.test .item .item-count input {
	display:inline-block;
	position:relative;
	top:-2px;
	width:50px;
	margin-left:3px;
	margin-right:3px;
}
