:root {
  --dark-bg-color: darkslategray;
  --dark-text-color: white;  
  --light-bg-color: lightseagreen;
  --light-text-color: white;
  --default-bg-color: white;
  --default-text-color: #303030;  
}

body {
  padding-top: 3.5rem;
  background-color: var(--default-bg-color);
  color: var(--default-text-color);
}

nav.navbar,
.btn-dark {
	background-color: var(--dark-bg-color);
	color: var(--dark-text-color);
}

.jumbotron,
.btn-light {
	background-color: var(--light-bg-color);
	color: var(--light-text-color);
}

.jumbotron {
	padding:2rem;
}

.page-title {
	padding-top:1rem;
	padding-bottom:1rem;
}

.role-badge {
	display:inline-block;
	vertical-align:bottom;
	width:1em;
	height:1em;
	margin-right:0.5em;
	border-radius:0.5em;
}

.test {
	margin-top:2em;
}

.test .item {
	margin-top:1em;
	margin-bottom:1em;
}

.test .item label {
	font-size:150%;
}

.test .item .item-count {
	display:inline-block;
}

.test .item .item-count .btn {
	vertical-align:top;
	margin:0;
}

.test .item .item-count .btn span {
	display:inline-block;
	font-weight:bold;
}

.test .item .item-count input {
	display:inline-block;
	text-align:center;
	vertical-align:top;
	width:3em;
	margin:0;	
}

.test .item .item-label {
	display:inline-block;
	padding-left:10px;
}

.test .item-badge-wrapper {
	display:inline-block;
	width:2em;
	height:2em;
	text-align:center;
	margin-top:3px;
	padding-right:3px;
}

.test .item-badge {
	background-color: var(--dark-bg-color);
	display:inline-block;
	vertical-align:middle;
	width:0;
	height:0;
	margin-right:50%;
	border-radius:50%;
	margin:0;
	padding:0;
}

.test-results td,
.test-results th {
	padding:2px 5px;
}

/* FORMS */

.form-validation {
  display: none;
  color: red;
  margin-top: 10px;
}

.form-button {
  margin-left: 10px;
  margin-right: 10px;
}

.form-buttons {
  display: block;
}